body {
    font-family: 'Maven Pro', sans-serif;
    overflow-x: hidden;
    font-size: 15px;
}

h1 {
    font-size: 30px;
}

h3 {
        font-size: 20px;
        margin-bottom: 30px;
        font-weight: 500;
        border-left: 2px solid #4f96ce;
        padding-left: 15px;
        line-height: 25px;
        text-align: left;
    }

div {
    box-sizing: border-box !important;
}

img {
    max-width: 100%;
}

.wrapper {
    // background: #f7f7f6;
    min-height: 100vh;

    &.opened-menu {

        .main {
            margin-left: 250px;
        }
        .menu {
            transform: translate(0, 0);
            box-shadow: 0px 0px 30px rgba(78, 78, 78, 0.5);
        }
    }
}

.btn {
    padding: 10px 30px;
    display: inline-block;
    color: white;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;


    &:hover, &:active, &:visited {
        color: white;
        text-decoration: none;
    }
}

.btn.btn-small {
    padding: 7px 15px;
}

.btn-success {
    background: #0aca0a;

    &:hover {
        background: #0aa00a;
    }
}

.btn-info {
    background: #3ebae8;

    &:hover {
        background: #008dc1;
    }
}

.btn-finish-test {
    display: block;
    background: #ff4e4e;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    width: 100%;
    bottom: 0;

    &:hover {
        background: #dc2929;
    }
}

.menu {
    background: #060606;
    line-height: 2.5;
    position: fixed;
    width: 250px;
    top: 0;
    bottom: 0;
    transform: translate(-250px, 0);
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;

    .menu-list {
        li.menu-item {

            position: relative;

            .badge {
                display: inline-block;
                padding: 2px 5px;
                font-size: 12px;
                /* font-weight: 600; */
                position: absolute;
                right: 30px;
                bottom: 15px;
                line-height: 1;
                color: rgba(255, 255, 255, 0.59);
                background-color: #484848;
                border-radius: 20px;
            }

            &.menu-multi-level {
                > .submenu-list {
                    display: none;
                    .menu-item {
                        a {
                            color: #656565;
                            padding-left: 64px;

                            &:hover {
                                text-decoration: underline;
                                background: none;
                            }
                        }
                    }
                }
                &.opened {
                    > .submenu-list {
                        display: block;
                    }
                    .nav-open-icon {
                        transform: rotate(180deg);
                    }
                }
            }

            a {
                display: block;
                padding: 5px 30px;
                font-size: 15px;
                color: #909090;
                text-decoration: none;
                border-bottom: 1px solid #0e0e0e;

                &:hover {
                    background: #0e0e0e;
                }
            }

            .nav-item-icon {
                width: 30px;
                color: #3A3795;
            }

            .nav-open-icon {
                float: right;
                margin-top: 13px;
                color: #444444;
            }
        }

        & > li.menu-item:last-child  {
            position: absolute;
            bottom: 0;
            width: 100%;

            .nav-item-icon {
                color: #953750;
            }
        }
    }
}

.btn-super {
    color: white;
}

// End of menu

.main {
    margin-left: 0;
    padding-bottom: 50px;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.header {
    height: 60px;
    background: white;
    box-shadow: 0px -18px 50px rgba(78, 78, 78, 0.6);
    // margin-bottom: 50px;

    .header-righ-box {
        float: right;
        // line-height: 40px;
        padding: 10px;
        img {
            max-height: 40px;
            border-radius: 50%;
        }
    }
}

// Hamburger icon
.hamburger-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: relative;
    margin: 21px;
    display: inline-block;

    > span {
        display: block;
        position: absolute;
        background: #9c9c9c;
        height: 2px;
        width: 100%;
        border-radius: 2px;
        -webkit-transition: .2s ease-in-out;
        -moz-transition: .2s ease-in-out;
        -o-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
    }

    > span:nth-child(1), span:nth-child(4) {
        opacity: 0;
    }

    > span:nth-child(2), span:nth-child(3) {
        top: 8px;
    }

    > span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    > span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

.hamburger-icon.opened {

    > span {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    > span:nth-child(1) {
        top: 0px;
        opacity: 1;
    }



    > span:nth-child(4) {
        top: 16px;
        opacity: 1;
    }
}

.content {
    min-height: calc(100vh - 120px);
}

.breadcrump {
    padding: 25px 0;
    background: linear-gradient(141deg, #584495 0%, #2cb5e8 75%);
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;

    &:after {
        content: "";
        display: block;
        background-image: url("../images/pattern.jpeg");
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.1;
    }

    .breadcrump-link {

        a {
           color: white; 
        }

        color: white;
        font-size: 15px;
    }

    .breadcrump-title {
        font-size: 40px;
        color: white;
        font-family: 'Maven Pro';
        position: relative;
        z-index: 1;
        line-height: 1;
        margin: 0;
    }
}

// Forms

form {
        .fa-calendar {
            position: absolute;
            right: 25px;
            bottom: 10px;
        }

    .form-section {
        padding-bottom: 50px;
        margin-bottom: 50px;
        border-bottom: 1px solid #e4e4e4;
    }

    

    label {
        font-size: 15px;
        color: dimgray;
        margin-bottom: 15px;
        font-weight: normal;
    }

    .form-group {
        margin-bottom: 0;

        .fa-question-circle {
            color: #c3c3c3;
            margin-left: 10px;
        }
    }

    .form-choice {

        margin-top: 30px;

        &.closed {
            display: none;
        }
    }
    
        
}

.form-control {
        border-radius: 0;
    }
// End of forms

// Data and time picker

// Table

.table-listing {

    font-size: 15px;
    color: dimgray;
    width: 100%;

    td, th {
        padding: 15 10px;
        vertical-align: middle;
    }

    th {
        font-weight: 500;
    }

    thead tr {
        border-bottom: 2px solid #f1f1f1;

        &:hover {
            background: none;
        }
    }

    tr {
        border-bottom: 1px solid #f1f1f1;

        &:hover {
            background: #f1f1f1;
        }
    }

    tbody {
        .icon-group i {
            color: #ea6d6d;
        }
    }
}

// End of table

.menu-header {
        text-align: center;
        display: block;
        font-size: 35px;
        color: #909090;
        text-decoration: none;

        i {
            width: 30px;
    color: #3A3795;
        }
}

/* Timer */
.timer-header {
    
}

.timer {
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    color: white;
    line-height: 1.6;
    padding: 30px 0;

    .timer-icon {
        display: block;
    }

    .timer-minutes, .timer-seconds {
        position: relative;
        display: inline-block;
        line-height: 1;
        
        &:after {
            display: inline;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: bold;
            color: #424242;
            position: absolute;
            bottom: -20px;
        }
    }

    .timer-minutes {
        &:after {
            content: "MIN";
            left: calc(50% - 15px);
        }
    }

    .timer-seconds {
        &:after {
            content: "SEK";
            left: calc(50% - 12px);
        }
    }

    .timer-colon {
        color: #424242;
        font-weight: normal;
        // margin: 0 10px;
    }
}
/* End of timer */

.tabs {
    text-align: center;

    .tabs-nav {
        display: inline-block;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        margin-bottom: 50px;

        .tabs-nav__link {
            display: inline-block;
            padding: 15px 40px;
            font-weight: 500;
            color: #6d6d6d;
            float: left;
            -webkit-transition: .2s ease-in-out;
            -moz-transition: .2s ease-in-out;
            -o-transition: .2s ease-in-out;
            transition: .2s ease-in-out;

            &:hover, &.is-active {
                background: whitesmoke;
                text-decoration: none;
                color: #6262a8;
            }
        }
    }

    .tab {
        display: none;

        &.is-active {
            display: block;
        }
    }
}

.pagination {
    display: block;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    margin: 50px auto 50px auto;

    a {
        float: left;
        padding: 8px 16px;
        // background: #e6e6e6;
        display: inline-block;
        text-decoration: none;

        &:hover {
            background: rgb(58, 55, 149);
            color: white;
        }

        &.false {
            background: #dc2929;
            color: white;
        }
    }

    &:after {
        display: block;
        content: "";
        clear: both;
    }
}

.questions {

    padding: 30px;

    > span {
        background: #212121;
        width: 33px;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
        text-align: center;
        color: white;
        cursor: pointer;
    }
}

/* Filter */
.filter-background {
    padding: 15px;
    background: #f1f1f1;
    margin-bottom: 50px;
}

.filter-time-group {
    padding: 7px 0;

    i {
        margin-left: 10px;
        margin-right: 20px;
    }
}

.filter-buttons {
    text-align: right;

    .btn {
        margin-right: 10px;
    }
}
/* End of Filter */

.footer {
    padding-left: 25px;
    min-height: 60px;
    background: #f7f7f6;
    line-height: 60px;
}

.container-fluid {
    max-width: 1100px;
}

/* Info box */
.info-box {
    margin-top: -50px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    color: white;
    text-align: left;

    i {
        position: absolute;
        right: 0;
        bottom: -7px;
        color: #ffcfcf;
        cursor: pointer;
        padding: 10px;
    }

    &.alert {
        background: #ff4e4e;
    }

    &.info {
        background: #45a7d9;
        padding-left: 30px;
        margin-bottom: 30px;
        margin-top: 0;
    }
}
/* End of Info box */

/* Test view */
.test-info {
    font-size: 15px;
}

.table-info {
    font-size: 15px;
    color: dimgray;
    border-spacing: 0px 15px;
    border-collapse: inherit;

    tr > td:first-child {
        font-weight: 500;
    }

    tr > td:last-child {
        padding-left: 50px;
    }
}

.table-nav-info {
    width: 100%;
    color: white;

    th, td {
        padding: 0 30px;
        line-height: 30px;
    }

    th {
        font-size: 15px;
        // text-transform: uppercase;
        font-weight: bold;
        color: #424242;
    }

    td {
        border-bottom: 1px solid #191919;;
    }
}
/* End of test view */