body {
    font-family: 'Maven Pro', sans-serif;
    overflow-x: hidden;
}

h1 {
    font-size: 30px;
}

div {
    box-sizing: border-box !important;
}

.wrapper {
    background: #f7f7f6;
    min-height: 100vh;

    &.opened-menu {

        .main {
            margin-left: 250px;
        }
        .menu {
            transform: translate(0, 0);
        }
    }
}

.menu {
    background: #060606;
    line-height: 2.5;
    position: fixed;
    width: 250px;
    top: 0;
    bottom: 0;
    box-shadow: 0px 0px 30px rgba(78, 78, 78, 0.5);
    transform: translate(-250px, 0);
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;

    .menu-list {
        .menu-item {
            &.menu-multi-level {
                > .submenu-list {
                    display: none;
                    .menu-item {
                        a {
                            color: #656565;
                            padding-left: 64px;

                            &:hover {
                                text-decoration: underline;
                                background: none;
                            }
                        }
                    }
                }
                &.opened {
                    > .submenu-list {
                        display: block;
                    }
                    .nav-open-icon {
                        transform: rotate(180deg);
                    }
                }
            }

            a {
                display: block;
                padding: 5px 30px;
                font-size: 15px;
                color: #909090;
                text-decoration: none;
                border-bottom: 1px solid #0e0e0e;

                &:hover {
                    background: #0e0e0e;
                }
            }

            .nav-item-icon {
                width: 30px;
                color: #b1465d;
            }

            .nav-open-icon {
                float: right;
                margin-top: 13px;
                color: #444444;
            }
        }
    }
}

.btn-super {
    color: white;
}

// End of menu

.main {
    margin-left: 0;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.header {
    min-height: 70px;
    background: white;
    box-shadow: 0px -18px 50px rgba(78, 78, 78, 0.6);
    margin-bottom: 50px;

    .header-righ-box {
        float: right;
        // line-height: 40px;
        padding: 15px;
        img {
            max-height: 40px;
            border-radius: 50%;
        }
    }
}

// Hamburger icon
.hamburger-icon {
    width: 30px;
    height: 19px;
    cursor: pointer;
    position: relative;
    margin: 25px;
    display: inline-block;

    > span {
        display: block;
        position: absolute;
        background: #9c9c9c;
        height: 3px;
        width: 100%;
        border-radius: 2px;
        -webkit-transition: .2s ease-in-out;
        -moz-transition: .2s ease-in-out;
        -o-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
    }

    > span:nth-child(1), span:nth-child(4) {
        opacity: 0;
    }

    > span:nth-child(2), span:nth-child(3) {
        top: 8px;
    }

    > span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    > span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

.hamburger-icon.opened {

    > span {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    > span:nth-child(1) {
        top: 0px;
        opacity: 1;
    }



    > span:nth-child(4) {
        top: 16px;
        opacity: 1;
    }
}

.content {
    min-height: calc(100vh - 140px);
}

// Forms
form {
    label {
        display: block;
    }
    input {
        // display: block;
    }

    .form-group {
        padding: 30px;
        border-bottom: 1px solid #e2e2e2;
    }
}
// End of forms

// Data and time picker


.footer {
    min-height: 70px;
    background: white;
    line-height: 70px;
}

.container-fluid {
    max-width: 1200px;
}

// .container-fluid, .container {
//     background: grey;

//     .row {
//         background: lightgrey;

//         .col-md-12 {
//             background: lightgreen;
//         }
//     }
// }

// .opened-menu {
//     #sidebar-menu {
//         transform: translate(-250px, 0);
//     }

//     #content {
//         margin-left: 0px;
//     }
// }

// #sidebar-menu {
    // -webkit-transition: .2s ease-in-out;
    // -moz-transition: .2s ease-in-out;
    // -o-transition: .2s ease-in-out;
    // transition: .2s ease-in-out;
//     box-shadow: 11px 0px 40px rgba(78, 78, 78, 0.29);
//     width: 250px;
//     position: fixed;
//     padding: 30px;
//     // background: #f8fbfb;
//     top: 0;
//     bottom: 0;

//     h4 {
//         font-family: 'Maven Pro', sans-serif;
//     }

//     .logo-img {
//         margin-bottom: 30px;
//         img {
//         width: 50%;
//     }
//     }

// }

// #content {
//     padding: 30px;
//     margin-left: 250px;
//     background: #f8fbfb;
//     -webkit-transition: .2s ease-in-out;
//     -moz-transition: .2s ease-in-out;
//     -o-transition: .2s ease-in-out;
//     transition: .2s ease-in-out;
// }

// #header {
//     border-bottom: 1px solid #f1f1f1;
//     min-height: 60px;
//     margin-left: 250px;
//     width: 100%;
//     -webkit-transition: .2s ease-in-out;
//     -moz-transition: .2s ease-in-out;
//     -o-transition: .2s ease-in-out;
//     transition: .2s ease-in-out;
// }

    

// ul.nav {
//     // margin-top: 70px;
// }

//     .nav > li > a {
//     position: relative;
//     display: block;
//     padding: 15px 15px;
//     font-family: 'Maven Pro', sans-serif;
//     color: #8e8e8e;
//     font-size: 15px;
//     font-weight: 500;
// }

// #content {

// }

// #content > .test {
//     background: white;
//     padding: 30px;
//     box-shadow: 0px 0px 12px #dadada;
// }