body {
  font-family: 'Maven Pro', sans-serif;
  overflow-x: hidden; }

h1 {
  font-size: 30px; }

div {
  box-sizing: border-box !important; }

.wrapper {
  min-height: 100vh; }
  .wrapper.opened-menu .main {
    margin-left: 250px; }
  .wrapper.opened-menu .menu {
    transform: translate(0, 0); }

.menu {
  background: #060606;
  line-height: 2.5;
  position: fixed;
  width: 250px;
  top: 0;
  bottom: 0;
  box-shadow: 0px 0px 30px rgba(78, 78, 78, 0.5);
  transform: translate(-250px, 0);
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out; }
  .menu .menu-list li.menu-item.menu-multi-level > .submenu-list {
    display: none; }
    .menu .menu-list li.menu-item.menu-multi-level > .submenu-list .menu-item a {
      color: #656565;
      padding-left: 64px; }
      .menu .menu-list li.menu-item.menu-multi-level > .submenu-list .menu-item a:hover {
        text-decoration: underline;
        background: none; }
  .menu .menu-list li.menu-item.menu-multi-level.opened > .submenu-list {
    display: block; }
  .menu .menu-list li.menu-item.menu-multi-level.opened .nav-open-icon {
    transform: rotate(180deg); }
  .menu .menu-list li.menu-item a {
    display: block;
    padding: 5px 30px;
    font-size: 15px;
    color: #909090;
    text-decoration: none;
    border-bottom: 1px solid #0e0e0e; }
    .menu .menu-list li.menu-item a:hover {
      background: #0e0e0e; }
  .menu .menu-list li.menu-item .nav-item-icon {
    width: 30px;
    color: #3A3795; }
  .menu .menu-list li.menu-item .nav-open-icon {
    float: right;
    margin-top: 13px;
    color: #444444; }
  .menu .menu-list > li.menu-item:last-child {
    position: absolute;
    bottom: 0;
    width: 100%; }
    .menu .menu-list > li.menu-item:last-child .nav-item-icon {
      color: #953750; }

.btn-super {
  color: white; }

.main {
  margin-left: 0;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out; }

.header {
  height: 60px;
  background: white;
  box-shadow: 0px -18px 50px rgba(78, 78, 78, 0.6); }
  .header .header-righ-box {
    float: right;
    padding: 10px; }
    .header .header-righ-box img {
      max-height: 40px;
      border-radius: 50%; }

.hamburger-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: relative;
  margin: 21px;
  display: inline-block; }
  .hamburger-icon > span {
    display: block;
    position: absolute;
    background: #9c9c9c;
    height: 2px;
    width: 100%;
    border-radius: 2px;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out; }
  .hamburger-icon > span:nth-child(1), .hamburger-icon span:nth-child(4) {
    opacity: 0; }
  .hamburger-icon > span:nth-child(2), .hamburger-icon span:nth-child(3) {
    top: 8px; }
  .hamburger-icon > span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .hamburger-icon > span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.hamburger-icon.opened > span {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0); }

.hamburger-icon.opened > span:nth-child(1) {
  top: 0px;
  opacity: 1; }

.hamburger-icon.opened > span:nth-child(4) {
  top: 16px;
  opacity: 1; }

.content {
  min-height: calc(100vh - 120px); }

.breadcrump {
  padding: 25px 0;
  background: linear-gradient(141deg, #584495 0%, #2cb5e8 75%);
  position: relative;
  overflow: hidden; }
  .breadcrump:after {
    content: "";
    display: block;
    background-image: url("../images/pattern.jpeg");
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1; }
  .breadcrump .breadcrump-link {
    color: white;
    font-size: 15px; }
    .breadcrump .breadcrump-link a {
      color: white; }
  .breadcrump .breadcrump-title {
    font-size: 40px;
    color: white;
    font-family: 'Maven Pro';
    position: relative;
    z-index: 1;
    line-height: 1;
    margin: 0; }

form .date {
  position: relative; }
  form .date .input-group-addon {
    position: absolute;
    right: 15px;
    bottom: 10px; }

form .form-section {
  padding: 50px 0;
  border-bottom: 1px solid #e4e4e4; }

form h3 {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 500;
  border-left: 2px solid #4f96ce;
  padding-left: 15px;
  line-height: 25px; }

form label {
  font-size: 15px;
  color: dimgray;
  margin-bottom: 15px;
  font-weight: normal; }

form .form-control {
  border-radius: 0; }

form .form-group {
  margin-bottom: 0; }
  form .form-group .fa-question-circle {
    color: #c3c3c3;
    margin-left: 10px; }

form .form-choice.closed {
  display: none; }

.footer {
  padding-left: 25px;
  min-height: 60px;
  background: #f7f7f6;
  line-height: 60px; }

.container-fluid {
  max-width: 1100px; }
