p {
  margin: 0; }

.opened-menu #sidebar-menu {
  transform: translate(-250px, 0); }

.opened-menu #content {
  margin-left: 0px; }

#sidebar-menu {
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  box-shadow: 11px 0px 40px rgba(78, 78, 78, 0.29);
  width: 250px;
  position: fixed;
  padding: 30px;
  top: 0;
  bottom: 0; }
  #sidebar-menu h4 {
    font-family: 'Maven Pro', sans-serif; }
  #sidebar-menu .logo-img {
    margin-bottom: 30px; }
    #sidebar-menu .logo-img img {
      width: 50%; }

#content {
  padding: 30px;
  margin-left: 250px;
  background: #f8fbfb;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out; }

#header {
  border-bottom: 1px solid #f1f1f1;
  min-height: 60px;
  margin-left: 250px;
  width: 100%;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out; }

.nav-icon {
  width: 30px;
  cursor: pointer;
  position: relative;
  margin: 20px;
  display: inline-block; }
  .nav-icon > span {
    display: block;
    position: absolute;
    background: #cacaca;
    height: 4px;
    width: 100%;
    border-radius: 4px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out; }
  .nav-icon > span:nth-child(1) {
    top: 0px; }
  .nav-icon > span:nth-child(2), .nav-icon span:nth-child(3) {
    top: 8px; }
  .nav-icon > span:nth-child(4) {
    top: 16px; }

.nav-icon.open > span:nth-child(1), .nav-icon.open > span:nth-child(4) {
  top: 11px;
  opacity: 0; }

.nav-icon.open > span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.nav-icon.open > span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.nav > li > a {
  position: relative;
  display: block;
  padding: 15px 15px;
  font-family: 'Maven Pro', sans-serif;
  color: #8e8e8e;
  font-size: 15px;
  font-weight: 500; }

#content > .test {
  background: white;
  padding: 30px;
  box-shadow: 0px 0px 12px #dadada; }
