{% extends '_layout.html' %}
{% block content %}
    <div class="breadcrump">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrump-link">
                        <a href="#">Strona główna</a> <span>/</span>
                    </div>
                    <h1 class="breadcrump-title">Szczegóły testu</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <table style="font-size: 15px;">
                    <tr>
                        <td style="font-weight: 500;">Nazwa testu:</td>
                        <td style="padding-left: 20px;">Test z przedsiębiorczości</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 500;">Status:</td>
                        <td style="text-decoration: underline; padding-left: 20px;">Zrealizowany</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <div class="group-buttons right">
                    <a class="btn btn-small btn-edit" href="#">Edytuj</a>
                    <a class="btn btn-small btn-info" href="#">Eksportuj</a>
                </div>
            </div>
            <div class="col-md-12">
                <div id="tabs" class="tabs no-js">
                    <div class="tabs-nav-wrapper">
                        <div class="tabs-nav">
                            <a class="tabs-nav__link is-active" href="#">Informacje ogólne</a>
                            <a class="tabs-nav__link" href="#">Uczestnicy <span style="color:#bfbfbf;">(11)</span></a>
                        </div>
                    </div>
                    <div class="tab is-active">
                        <div class="tab__content">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Informacje o teście</h3>
                                    <table class="table-info">
                                        <tr>
                                            <td>Nazwa testu</td>
                                            <td>Test z przedsiębiorczości</td>
                                        </tr>
                                        <tr>
                                            <td>Naza kursu</td>
                                            <td>Przedsiębiorczość</td>
                                        </tr>
                                        <tr>
                                            <td>Zestaw pytań</td>
                                            <td>Pytania z przedsiębiorczości</td>
                                        </tr>
                                        <tr>
                                            <td>Status</td>
                                            <td>Zrealizowany</td>
                                        </tr>
                                        <tr>
                                            <td>Data utworzenia</td>
                                            <td>20.02.2017</td>
                                        </tr>
                                        <tr>
                                            <td>Data rozpoczęcia</td>
                                            <td>20.04.2017</td>
                                        </tr>
                                        <tr>
                                            <td>Miejsce testu</td>
                                            <td>C-16 L-2.7</td>
                                        </tr>
                                        <tr>
                                            <td>Liczba pytań</td>
                                            <td>30</td>
                                        </tr>
                                        <tr>
                                            <td>Czas trwania</td>
                                            <td>30 minut</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab">
                        <div class="tab__content">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Lista uczestników testu</h3>
                                </div>
                                <div class="col-md-12">
                                    <div class="filter-background">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <input class="form-control" id="name" type="text" placeholder="Nazwa zestawu">
                                            </div>
                                            <div class="col-md-3">
                                                <input class="form-control" id="name" type="number" placeholder="Liczba pytań">
                                            </div>
                                            <div class="col-md-3">
                                                <div class="filter-time-group">
                                                    <span>Od</span><i id="timepicker-actions" class="fa fa-calendar" data-timepicker="true"></i>
                                                    <span>Do</span><i class="fa fa-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="filter-buttons">
                                                    <a class="btn btn-small btn-info" href="#">Filtruj</a>
                                                    <a href="#">Wyczyść</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <table class="table-listing">
                                        <thead>
                                            <tr>
                                                <th>Lp.</th>
                                                <th>Imię</th>
                                                <th>Nazwisko</th>
                                                <th>Nr indeksu</th>
                                                <th>Liczba punktów</th>
                                                <th>Ocena</th>
                                                <th>Podgląd testu</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Jan</td>
                                                <td>Kowalski</td>
                                                <td>196211</td>
                                                <td>12/30</td>
                                                <td>3</td>
                                                <td class="icon-group preview">
                                                    <a href="#">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                                <td><input type="checkbox" name="" value=""></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Jan</td>
                                                <td>Kowalski</td>
                                                <td>196211</td>
                                                <td>12/30</td>
                                                <td>3</td>
                                                <td class="icon-group preview">
                                                    <a href="#">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                                <td><input type="checkbox" name="" value=""></td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Jan</td>
                                                <td>Kowalski</td>
                                                <td>196211</td>
                                                <td>12/30</td>
                                                <td>3</td>
                                                <td class="icon-group preview">
                                                    <a href="#">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                                <td><input type="checkbox" name="" value=""></td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Jan</td>
                                                <td>Kowalski</td>
                                                <td>196211</td>
                                                <td>12/30</td>
                                                <td>3</td>
                                                <td class="icon-group preview">
                                                    <a href="#">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                                <td><input type="checkbox" name="" value=""></td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Jan</td>
                                                <td>Kowalski</td>
                                                <td>196211</td>
                                                <td>12/30</td>
                                                <td>3</td>
                                                <td class="icon-group preview">
                                                    <a href="#">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                                <td><input type="checkbox" name="" value=""></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div style="margin-top:30px;" class="col-md-6">
                                    <div class="group-buttons left">
                                        <a class="btn btn-success" href="#">Wyślij oceny</a>
                                    </div>
                                </div>
                                <div style="margin-top:30px;" class="col-md-6">
                                    <div class="group-buttons right">
                                        <a href="#">Zaznacz wszystkich</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
</div>
{% endblock %}